/* Стилизация кнопки и меню */
.menu {
    position: relative;
    display: inline-block;

}

.menu-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.menu-list, .sub-menu {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;
    margin: 0;
    min-width: max-content;
    border-radius: 5px;
}

.menu-list {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    display: none;
}

.menu-item {
    position: relative;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu-item:hover .sub-menu {
    display: block;
}

.menu-list a, .sub-menu a {
    padding: 8px 25px;
    text-decoration: none;
    display: block;
    color: #333;
}

.menu-list a:hover, .sub-menu a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.menu:hover .menu-list {
    display: block;
}

.menu:hover .menu-button {
    background-color: #297fb8;
}