/* Стилизация кнопки и меню */
.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: #242524;
    color: #fff;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.menu-list, .sub-menu {
    list-style-type: none; /* Убираем маркеры */
    padding: 0;
    margin: 0;
    min-width: max-content;
    border-radius: 5px;
}

.menu-list {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 3;
    top: 100%;
    left: 0;
    display: none;
}

.menu-item {
    position: relative;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu-item:hover .sub-menu {
    display: block;
}

.menu-list a, .sub-menu a {
    padding: 8px 25px;
    text-decoration: none;
    display: block;
    color: #333;
}

.menu-list a:hover, .sub-menu a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.menu:hover .menu-list {
    display: block;
}

.menu:hover .menu-button {
    background-color: #0a0a0a;
}
/* конец стилизации кнопки и меню */

.menu-container {
    display: inline;
    margin-right: 10px; /* Укажите нужный отступ между элементами */
}
.page-info {
    display: inline;
    margin: 200px; /* Укажите нужный отступ между элементами */
    font-family: Tahoma, sans-serif; /* Устанавливаем шрифт */
    font-size: 20px; /* Устанавливаем размер шрифта */
    color: #090909; /* Устанавливаем цвет текста */
    text-align: center; /* Устанавливаем выравнивание текста */
    text-align: center;
    font-weight: bold; /* Устанавливаем жирный шрифт */
}
.catalog-conteiner{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #757575;
    padding: 5px;
    position: absolute;
    width: 10px;
    height: 85%;
    overflow: hidden;
    box-shadow: 5px 5px 5px #575651;
    border-radius: 5px;
    /*white-space: nowrap; !* Предотвращаем перенос текста на новую строку *!*/
    transition: width 0.1s;
    z-index: 2;
    background-color: #eaeaea;
    overflow-y: auto;
    background-image: url("../menu-navigation.svg");
    background-size: 18px 18px;
    background-position: 1px 2px;
    background-repeat: no-repeat;


}
.catalog-conteiner:hover{
    width: 25%;
    height: 85%;
    padding: 5px;
    background-size: 25px 25px;
    background-position: 10px 10px;
    /*background-image: url("../menu-navigation.svg");*/
    /*background-position: left center;*/
    /*background-repeat: no-repeat;*/
}
.catalog-conteiner p{
    margin-left: 50px;
}
.basic-conteiner{
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
    border: 1px solid #757575;
    padding: 10px;
    position: absolute;
    min-width: 94.5%;
    height: 85%;
    overflow: auto;
    box-shadow: 5px 5px 7px #575651;
    border-radius: 5px;
    /*display: block; !* Для использования flex-контейнера *!*/
    /*align-items: flex-start; !* Выравнивание по верхнему краю *!*/
}
/* Убираем маркеры у списка и элементов списка */
ul, li {
    list-style: none;
}

/* Стили для категорий */
.category {
    /*margin-left: 10px;*/
    display: none;
}

/* Стили для кнопки "открыть/закрыть" */
.toggle-button::before {
    content: " + "; /* Символ "Вправо" для закрытой категории */
    cursor: pointer;
}

.toggle-button.open::before {
    content: " - "; /* Символ "Вниз" для открытой категории */
}

/* Стили для ссылок */
.category-link {
    text-decoration: none;
    color: #000; /* Цвет текста ссылки */
    cursor: pointer;
}

/* Стили для выделения при наведении */
.category-link:hover {
    /*background-color: #d71717; !* Цвет фона при наведении *!*/
    font-weight: bold;
    border-radius: 5px; /* Скругление углов */
}


h2 {
    text-align: left;
}
hr {
    box-shadow: 0px 0px 4px #1bb300;
    margin-bottom: 15px;
}

.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #a9a8a8;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.save-button:hover {
    background-color: #73cb63;
    border-color: #242524;
    color: #000000;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #a9a8a8;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.edit-button:hover {
    background-color: #ffdd53;
    border-color: #242524;
    color: #000000;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #a9a8a8;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.delete-button:hover {
    background-color: #ff4848;
    border-color: #242524;
    color: #000000;
}

.button-content {
    margin-left: 10px;
    margin-right: 10px;
}

.save-to-json {
    position: absolute;
    bottom: 20px;
}






.basic-conteiner .catalog-table {
    width: 100%;
    border-collapse: collapse;
}

.basic-conteiner .catalog-table th,
.basic-conteiner .catalog-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.basic-conteiner .catalog-table .table-line-first th {
    background-color: #e0e0e0; /* Цвет фона для заголовка */
    border: 3px solid #d2d2d2;
    text-align: center;
}

.basic-conteiner .catalog-table tr:nth-child(even) {
    background-color: #f3f3f3; /* Четные строки */
}

.basic-conteiner .catalog-table tr:nth-child(odd) {
    background-color: #ffffff; /* Нечетные строки */
}

.basic-conteiner .catalog-table th,
.basic-conteiner .catalog-table td {
    padding: 5px;
}

.table-sheet-article {
    width: 50px;
}
.table-sheet-categories {
    width: 50px;
    text-align: center;
}
.table-sheet-stock {
    width: 20px;
}
.table-sheet-price {
    width: 20px;
    /*height: 50px;*/
}
.table-sheet-link {
    width: 20px;
}


::-webkit-scrollbar {
    width: 7px; /* Ширина полосы прокрутки */
    background-color: #e7e7e7;
    border: 1px solid #cbcbcb;
    border-radius: 3px; /* Закругленные углы */
}

::-webkit-scrollbar-thumb {
    background-color: #73cb63; /* Цвет полосы прокрутки */
    border-radius: 3px; /* Закругленные углы */
    border: 1px solid #5fad54;
    min-height: 40px;
}

.highlighted-cell {
    background-color: #ffef85;
}
.highlighted-cell-ok {
    background-color: #9fff85;
}
.editable-content[contenteditable="true"] {
    outline: none;
}
