/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Стиль для кнопки при наведении */
.dropbtn {
    background-color: #6a6e6a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-width: 150px;
}

/* Стиль для кнопки при наведении */
.dropbtn:hover {
    background-color: #626562; /* Измените цвет при наведении */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Стили для заголовка */
h1 {
    text-align: center;
}
