<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageInfo}">Главная</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../favicon.svg" type="image/x-icon">
</head>

<body>
<div class="top-container">
    <div class="menu-container">
    <div class="menu">
    <button class="menu-button">[ Меню ]</button>
    <ul class="menu-list">
        <li class="menu-item">
            <a href="#">Каталог</a>
            <ul class="sub-menu">
                <li><a href="/catalog">Загрузить</a></li>
                <li><a href="/catalog-settings">Настроить</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Магазины</a>
            <ul class="sub-menu">
                <li><a href="/add-shop">Добавить</a></li>
                <li><a href="/shop-settings">Настроить</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="/">Выйти</a>
            <ul class="sub-menu">
<!--                <li><a href="#">Подпункт 3.1</a></li>-->
<!--                <li><a href="#">Подпункт 3.2</a></li>-->
<!--                <li><a href="#">Подпункт 3.3</a></li>-->
            </ul>
        </li>
    </ul>
</div>
</div>
<div class="page-info">
    <span th:text="${pageInfo}">Page-Info</span>
</div>
<div class="search-container">
        <input class="search-input" placeholder="Поиск">
        <button class="clear-button" onclick="clearSearch()">X</button>
    </div>
</div>
<hr>
<div class="body">
    <div class="catalog-conteiner">
        <form id="storeForm">
            <select id="storeSelect" name="store" onchange="sendSelectedStore()">
                <option th:each="item : ${shops}" th:value="${item.getId()}" th:text="${item.getName()}"></option>
            </select>
        </form>
        <h2>Категории</h2>
        <div id="category-tree"></div>
    </div>
    <div class="basic-conteiner">

        <div class="top-table-menu" onclick="openAddNewProduct()"></div>
            <div id="add-new-product">
                <div class="close-top-table-menu" id="save-product" onclick="closeAddNewProduct()"></div>
                <h2>Добавить новый товар</h2>
                <form th:action="@{/add-new-product}" method="post" id="saveProduct">
                    <input type="hidden" id="catIdInput" name="catId" th:value="${catId}"/>
                    <label for="name">Name</label><br>
                    <input id="name" type="text" name="name" value="" required><br>
                    <label for="stock">Stock</label><br>
                    <input id="stock" type="text" name="stock" value="" required><br>
                    <label for="price">Price</label><br>
                    <input id="price" type="text" name="price" value="" required><br>
                    <label for="link">Link</label><br>
                    <input id="link" type="text" name="link" value="" required><br>
                    <button class="save-button" type="submit">Сохранить</button>
                </form>
            </div>
        <div id="context-menu">
            <div onclick="editProduct()">Edit product</div>
            <div onclick="delProduct()">Delete product</div>
            <!-- Добавьте другие пункты меню по необходимости -->
        </div>
        <div id="full-edit-product">

        </div>
        <table class="catalog-table" id="productTable">
            <thead>
            <tr class="table-line-first">
                <th class="table-sheet-article"><span class="art">Art.</span></th>
                <th class="table-sheet-name"><span class="name">Name</span></th>
                <th class="table-sheet-stock">Stock</th>
                <th class="table-sheet-price">Price</th>
<!--                <th class="table-sheet-link">Link</th>-->
<!--                <th class="table-sheet-delete"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr class="table-line" th:each="item : ${productList}" th:data-id="${item.getId()}" oncontextmenu="showContextMenu(event)">
                <td class="td-table-sheet-article" th:text="${item.getArticle()}"><span class="art">Article</span></td>
                <td class="table-sheet-name" ondblclick="enableEditing(this)" onfocusout="saveData(this)">
                    <div class="editable-content" contenteditable="false" th:text="${item.getName()}"></div>
                </td>
                <td class="table-sheet-stock" ondblclick="enableEditing(this)" onfocusout="saveData(this)">
                    <div class="editable-content" contenteditable="false" th:text="${item.getStock()}"></div>
                </td>
                <td class="table-sheet-price" ondblclick="enableEditing(this)" onfocusout="saveData(this)">
                    <div class="editable-content" contenteditable="false" th:text="${item.getPrice()}"></div>
                </td>
<!--                <td class="table-sheet-link" ondblclick="enableEditing(this)" onfocusout="saveData(this)">-->
<!--                    <div class="editable-content" contenteditable="false" th:text="${item.getLink()}"></div>-->
<!--                </td>-->
<!--                <td class="table-sheet-delete" th:value="${item.getId()}">-->
<!--                    <div class="delete-product" onclick="deleteProduct(this.parentElement.getAttribute('value'))"></div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:inline="javascript">let categoriesJson = /*[[${jsonString}]]*/ '';</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../static/js/script-for-catalog.js" th:src="@{/js/script-for-catalog.js}"></script>
</body>
</html>