<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageInfo}">Главная</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="menu-container">
    <div class="menu">
    <button class="menu-button">[ Меню ]</button>
    <ul class="menu-list">
        <li class="menu-item">
            <a href="#">Каталог</a>
            <ul class="sub-menu">
                <li><a href="/catalog">Загрузить</a></li>
                <li><a href="/catalog-settings">Настроить</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#">Магазины</a>
            <ul class="sub-menu">
                <li><a href="/add-shop">Добавить</a></li>
                <li><a href="/shop-settings">Настроить</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="/">Выйти</a>
            <ul class="sub-menu">
<!--                <li><a href="#">Подпункт 3.1</a></li>-->
<!--                <li><a href="#">Подпункт 3.2</a></li>-->
<!--                <li><a href="#">Подпункт 3.3</a></li>-->
            </ul>
        </li>
    </ul>
</div>
</div>
<div class="page-info">
    <span th:text="${pageInfo}">Page-Info</span>
</div>
<hr>
<div class="body">
    <div class="catalog-conteiner">
        <b><span>Магазины</span></b>
        <table>
        <tr th:each="item : ${catalog}">
            <td th:text="${item.getName()}"></td>
            <td>
                <form th:action="@{/edit-shop}" method="post">
                    <input type="hidden" th:name="editShop" th:value="${item.getId()}" />
                    <div class="list-item-content">
                        <button type="submit" class="edit-button">⚙️</button>
                    </div>
                </form>
            </td>
            <td>
                <form th:action="@{/delete-shop}" method="post">
                    <input type="hidden" th:name="deleteShop" th:value="${item.getId()}" />
                    <div class="list-item-content">
                        <button type="submit" class="delete-button">❌</button>
                    </div>
                </form>
            </td><br>
        </tr>
        </table>
    </div>
    <div class="basic-conteiner">
        <p>basic-conteiner</p>
        <form class="menu-shops" action="/add-shop" method="post" name="menu-shops-form">
            <label for="newShop">Enter Shop name:</label><br>
            <input id="newShop" type="text" name="newShop" value="" required><br>
            <label for="link">Enter url:</label><br>
            <input id="link" type="text" name="link" value="" required><br><br>
            <button>Save</button>
        </form>
    </div>
</div>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>